
---
console.log('This runs at build-time, is visible in the CLI output');
---
<style lang="scss">
  .circle {
    background-color: red;
    border-radius: 999px;
    height: 50px;
    width: 50px;
  }
</style>
<div class="circle"></div>
