
<p><span class="text-red">hello</span> bla</p>
<div class="bg-gray-light">
  <p>Bla <em>bla</em> bla <strong>bla</strong> bla <code>bla</code></p>
  <p>Bla <em>bla</em> bla <strong>bla</strong> bla <code>bla</code></p>
</div>
<p><span class="math math-inline"><span class="katex"><span class="katex-mathml"><math xmlns="http://www.w3.org/1998/Math/MathML">
          <semantics>
            <mrow>
              <msup>
                <mn>2</mn>
                <mn>2</mn>
              </msup>
            </mrow>
            <annotation encoding="application/x-tex">2^2</annotation>
          </semantics>
        </math></span><span class="katex-html" aria-hidden="true"><span class="base"><span class="strut" style="height:0.8141079999999999em;vertical-align:0em;"></span><span class="mord"><span class="mord">2</span><span class="msupsub"><span class="vlist-t"><span class="vlist-r"><span class="vlist" style="height:0.8141079999999999em;"><span style="top:-3.063em;margin-right:0.05em;"><span class="pstrut" style="height:2.7em;"></span><span class="sizing reset-size6 size3 mtight"><span class="mord mtight">2</span></span></span></span></span></span></span></span></span></span></span></span></p>
<svg width="89pt" height="188pt" viewBox="0.00 0.00 89.00 188.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" title="&#x60;dot&#x60; image">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 184)">
<title>graphname</title>
<!-- a -->
<g id="node1" class="node">
<title>a</title>
<ellipse fill="none" stroke="#000000" cx="54" cy="-162" rx="27" ry="18"></ellipse>
<text text-anchor="middle" x="54" y="-157.8" font-family="Times,serif" font-size="14.00" fill="#000000">a</text>
</g>
<!-- b -->
<g id="node2" class="node">
<title>b</title>
<ellipse fill="none" stroke="#000000" cx="27" cy="-90" rx="27" ry="18"></ellipse>
<text text-anchor="middle" x="27" y="-85.8" font-family="Times,serif" font-size="14.00" fill="#000000">b</text>
</g>
<!-- a&#45;&gt;b -->
<g id="edge1" class="edge">
<title>a->b</title>
<path fill="none" stroke="#000000" d="M47.3258,-144.2022C44.2524,-136.0064 40.5384,-126.1024 37.1305,-117.0145"></path>
<polygon fill="#000000" stroke="#000000" points="40.3858,-115.7274 33.5974,-107.593 33.8315,-118.1853 40.3858,-115.7274"></polygon>
</g>
<!-- c -->
<g id="node3" class="node">
<title>c</title>
<ellipse fill="none" stroke="#000000" cx="54" cy="-18" rx="27" ry="18"></ellipse>
<text text-anchor="middle" x="54" y="-13.8" font-family="Times,serif" font-size="14.00" fill="#000000">c</text>
</g>
<!-- a&#45;&gt;c -->
<g id="edge3" class="edge">
<title>a->c</title>
<path fill="none" stroke="#000000" d="M57.7474,-144.0931C59.7466,-133.6241 61.9966,-120.1241 63,-108 64.3197,-92.0545 64.3197,-87.9455 63,-72 62.2945,-63.4753 60.9727,-54.2703 59.5551,-45.917"></path>
<polygon fill="#000000" stroke="#000000" points="62.9689,-45.1258 57.7474,-35.9069 56.0803,-46.3698 62.9689,-45.1258"></polygon>
</g>
<!-- b&#45;&gt;c -->
<g id="edge2" class="edge">
<title>b->c</title>
<path fill="none" stroke="#000000" d="M33.6742,-72.2022C36.7476,-64.0064 40.4616,-54.1024 43.8695,-45.0145"></path>
<polygon fill="#000000" stroke="#000000" points="47.1685,-46.1853 47.4026,-35.593 40.6142,-43.7274 47.1685,-46.1853"></polygon>
</g>
</g>
</svg>


