
<p><span class="text-red">hello</span> bla</p>
<div class="bg-gray-light">
  <p>Bla <em>bla</em> bla <strong>bla</strong> bla <code>bla</code></p>
  <p>Bla <em>bla</em> bla <strong>bla</strong> bla <code>bla</code></p>
</div>
<p><span class="math math-inline"><span class="katex"><span class="katex-mathml"><math xmlns="http://www.w3.org/1998/Math/MathML">
          <semantics>
            <mrow>
              <msup>
                <mn>2</mn>
                <mn>2</mn>
              </msup>
            </mrow>
            <annotation encoding="application/x-tex">2^2</annotation>
          </semantics>
        </math></span><span class="katex-html" aria-hidden="true"><span class="base"><span class="strut" style="height:0.8141079999999999em;vertical-align:0em;"></span><span class="mord"><span class="mord">2</span><span class="msupsub"><span class="vlist-t"><span class="vlist-r"><span class="vlist" style="height:0.8141079999999999em;"><span style="top:-3.063em;margin-right:0.05em;"><span class="pstrut" style="height:2.7em;"></span><span class="sizing reset-size6 size3 mtight"><span class="mord mtight">2</span></span></span></span></span></span></span></span></span></span></span></span></p>
<img src="./074777ccb1c357e3cf4119a77e0dc90d0ff8090a.svg" title="&#x60;dot&#x60; image">

